* {
  margin: 0;
  padding: 0;
}

body nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eb092b;
  padding: 0.8em;
  top: 8px;
  width: 100%;
}
body nav img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin-right: auto;
}
body nav h3 {
  margin-right: 2em;
  color: rgb(77, 58, 58);
  font-family: Arial, Helvetica, sans-serif;
}
body .searchbar {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .searchbar input {
  text-align: center;
  height: 2em;
  width: 15em;
  border-radius: 5px;
  border: 1px solid grey;
}
body #msg {
  text-align: center;
  font-size: 2em;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body .catagorybar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1px;
  margin-top: 1em;
}
body .catagorybar button {
  padding: 3px;
  height: 2.5em;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 1em;
}
body .catagorybar button:active {
  scale: 0.9;
}
body .catagorybar #B {
  background-color: rgb(46, 156, 119);
}
body .catagorybar #H {
  background-color: rgb(84, 112, 8);
}
body .catagorybar #S {
  background-color: rgb(75, 55, 18);
}
body .catagorybar #P {
  background-color: rgb(152, 45, 28);
  padding: 3px;
  height: 2.5em;
  width: 18%;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 1em;
}
body .container {
  padding: 1em;
}
body .container img {
  margin-top: 1em;
  height: 40%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
body .container p {
  padding: 8px;
}
body .container .btn {
  background-color: rgb(11, 120, 230);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.7em;
  text-decoration: none;
  margin-left: 70%;
}