*{
    margin: 0;
    padding: 0;
    
}



body{
    
    padding: 1em;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        overflow: hidden;
        top: 8px;
        width: 100%;

        
    
        img{
            height: 2em;
            width: 2em;
            border-radius: 50%;
            margin-right: auto;
            
        }
        h3{
          margin-right: 2em;
          color:#eb092b;
          
        }
    
    }
    
    .searchbar{
        padding-top: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    
        input{
            text-align: center;
            height: 2em;
            width: 15em;
            border-radius: 5px;
            border: 1px solid grey;
            
        
        }
    }

    .catagorybar{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 6px;
        margin-top: 1em;
    

        button {
            padding: 5px;
            height: 2.5em;
            width: 100%;
            border-radius: 4px;
            border: none;
            color: #fff;
            margin-top: 1em;
        }

         button:active{
            scale:0.9;
         }
       
        #B{
            background-color: rgb(46, 156, 119);
        }
        #H{
            background-color: rgb(199, 49, 25);
        }
        #S{
            background-color: rgb(75, 55, 18);
        }
        #A{
            background-color:rgb(183, 149, 47);
        }
    }

    .container{
        padding: 1em;
        

        img{
            margin-top: 1em;
            height: 40%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
             
           
        }
           
        .btn{
            background-color: rgb(11, 120, 230);
            border: none;
            color: white;
            padding: 8px 14px;
            border-radius: 3px;
            cursor: pointer;
            font-size:.7em;
            text-decoration: none;
            margin-left: 70%;
            margin-top: 1em;
        }
        
        
    }
}

